<Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[]{"4"})>
    <MenuItem Key="1">
        <Icon Type="user" Theme="outline" />
        <span class="nav-text">nav 1</span>
    </MenuItem>
    <MenuItem Key="2">
        <Icon Type="video-camera" Theme="outline" />
        <span class="nav-text">nav 2</span>
    </MenuItem>
    <MenuItem Key="3">
        <Icon Type="upload" Theme="outline" />
        <span class="nav-text">nav 3</span>
    </MenuItem>
    <MenuItem Key="4">
        <Icon Type="user" Theme="outline" />
        <span class="nav-text">nav 4</span>
    </MenuItem>
</Menu>