@page "/games"

<div class="my-4">

    <div class="row mt-3">
        <div class="col-md-6 align-middle">
            <h1 class="h5">Recently Added</h1>
        </div>
        <div class="col-md-6 align-middle text-end">
            <button class="btn btn-secondary my-2">View All</button>
        </div>
    </div>
    
    <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <img src="https://via.placeholder.com/120x160" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Super Mario Bros 3.</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://via.placeholder.com/120x160" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Super Mario Bros 3.</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://via.placeholder.com/120x160" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Super Mario Bros 3.</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://via.placeholder.com/120x160" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Super Mario Bros 3.</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://via.placeholder.com/120x160" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Super Mario Bros 3.</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

</div>