@page "/game"

<div class="container py-3">

    <div class="row">
        <div class="col-md-8">
            <h1>Super Mario Bros. 3</h1>
            <div class="mb-2">
                <span class="badge bg-secondary">NES</span>
                <span class="badge bg-primary">Wii</span>
                <span class="badge bg-light text-dark">Wii U</span>
                <span class="badge bg-danger">Switch</span>
            </div>
            <p>Super Mario Bros. 3 is a platform action-adventure title released for the Famicom and NES. It is the third game in the Super Mario series, with a Japanese release on October 23, 1988; a North American release on February 9, 1990; and a European and Australian release on August 29, 1991. On November 5, 2007, it was released in North America for the Wii's Virtual Console, as well as the Nintendo 3DS and Wii U Virtual Console on April 17, 2014. It was also remade for Super Mario All-Stars (released in 1993 for the Super Nintendo Entertainment System) and Super Mario Advance 4: Super Mario Bros. 3 (released in 2003 for the Game Boy Advance), which serves as the final installment of the Super Mario Advance series. It also received a release on June 3, 2013 as a reward for Club Nintendo users. They could purchase the game with their coins for the Wii Virtual Console.</p>
            <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Gameplay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Releases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Media</a>
            </li>
            </ul>
        </div>

        <div class="col-md-4">
            <img src="https://via.placeholder.com/300" class="img-fluid" alt="">
            <ul class="list-group mt-3">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
    </div>
    
</div>
