<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav me-auto ms-2">
            <li class="nav-item">
                <button type="button" class="btn btn-link link-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="Identity/Account/Manage">My Collection</a></li>
                    <li><a class="dropdown-item" href="Identity/Account/Manage">Wish List</a></li>
                    <li><a class="dropdown-item" href="Identity/Account/Manage">Preferences</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form method="post" action="Identity/Account/LogOut">
                            <button type="submit" class="dropdown-item btn btn-link">Log out</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link" href="Identity/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Identity/Account/Login">Log in</a>
        </li>
    </NotAuthorized>
</AuthorizeView>
