<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="images/1646014_console_controller_games_joypad_icon.svg" class="pe-2" alt="Final Boss logo" height="36">
            Final Boss
        </a>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/games">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/platforms">Platforms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/releases">Releases</a>
                </li>
            </ul>
            <div class="d-flex">
                <form>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-search"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Search..." aria-label="Search">
                    </div>
                </form>
                <ul class="navbar-nav">
                    <LoginDisplay />
                </ul>
            </div>
        </div>
    </div>
</nav>