<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Final Boss</title>
    
    <link href="~/node_modules/semantic-ui/dist/semantic.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="top-menu">
        <div class="ui container">
            <div class="ui large top borderless inverted blue menu">
                <div class="header item">
                    Final Boss
                </div>
                <div class="ui category search item">
                    <div class="ui transparent icon inverted input">
                        <input class="prompt" type="text" placeholder="Search games...">
                        <i class="search link icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
                <div class="right menu">
                    @Html.Partial("_PartialMenuLogin")
                </div>
            </div>
        </div>
    </div>
    
    <div id="main" class="ui container">
        @RenderBody()
    </div>

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/semantic-ui/dist/semantic.min.js"></script>

</body>
</html>
